<!DOCTYPE html>
<html>
<head>
    <title>Election Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>🗳️ Election Assistant</h1>
        <p>Welcome! This assistant will help you understand the election process.</p>

        <a href="/steps">
    <button class="button">View Steps</button>
</a>
        <a href="/chatbot">
    <button class="button">Check Eligibility</button>
</a>
        <a href="/chatbot">
    <button class="button">Chat with Assistant</button>
</a>

<a href="/timeline">
    <button class="button">View Timeline</button>
</a>
    </div>

</body>
</html>